#title-slide .date::before {
  content:url('../imgs/ic3n2023.png');
  position: relative;
  margin: auto;
  display: block;
}

#title-slide .date::after {
  content: "Arlington, USA";
  position: relative;
  margin: auto;
  display: block;
}
